<div class="container">
	<div class="jumbotron"><h1 class="display-4">MSL</h1>
		<p class="lead">The purpose of this page is to be a common ground for the Metro-Atlanta Muslim Community to be able to inculcate healthy and ethical sportsmanship and comradery, and enrich our faith while doing so.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</p>
		<hr class="my-4">
		<div class="row">
			<div class="col-lg-12 col-lg-offset-3 text-center">
				<a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
				<a class="btn btn-primary btn-lg" routerLink="/login" routerLinkActive="active" role="button">Login</a>
			</div>
		</div>
	</div>
</div>